---
import '../styles/global.css';

interface Props {
	title: string;
    description?: string;
}

const { title, description = "Pusat les privat di Surabaya dengan pendekatan personal." } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="font-sans antialiased text-slate-600 bg-white flex flex-col min-h-screen">
		<slot />
	</body>
</html>
